<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/">Market</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="appUser " class="nav-item">
        <a   class="nav-link" routerLink="/products">Products</a>
      </li>
      
      <li  *ngIf="appUser "class="nav-item">
        <a  class="nav-link " routerLink="/shopping-card">Shopping Card</a>
      </li>
    <ng-template #anno >
      <li   class="nav-item">
        <a  class="nav-link " routerLink="/login">Login </a>
      </li>
    </ng-template>
      <li  *ngIf="appUser ; else anno" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{appUser.name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink = "/my-order">My Orders</a>
          <ng-container *ngIf="appUser.isAdmin">
            <a class="dropdown-item" routerLink = "/admin-orders">Manage Orders </a>
            <a class="dropdown-item" routerLink = "/admin-products">Manage Products </a>
          </ng-container>
          <a (click)= "logout()" class="dropdown-item" routerLink = "/logout">LogOut </a>
        </div>
      </li>
    </ul>
  </div>
</nav>