<div class="row"> 
  <div class="col-md-6 col-12">
<form #form ="ngForm" (ngSubmit) = "save(form.value)">

  <div class="form-group">
    <label for="formGroupExampleInput">Title</label>
    <input #tit="ngModel" [(ngModel)]= "product.title" name= "title" type="text" class="form-control" id="formGroupExampleInput" required>
    <div class="alert alert-danger" *ngIf= "tit.touched && tit.invalid">
        title is required
      </div>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Price</label>
    <div class='input-group'>
      <span class="input-group-addon">$</span>
    <input #pri ="ngModel" [(ngModel)]= "product.price" name= "price" type="text" class="form-control" id="formGroupExampleInput2" required [min]="10">
  </div>
  <div class="alert alert-danger" *ngIf= "pri.touched && pri.invalid">
      <div *ngIf= "pri.errors.required" > price required</div>
      <div *ngIf= "pri.errors.min" > price should be greater than 10</div>
    </div>
  </div>
  <div class="form-group">
      <label for="formGroupExampleInput2">Category</label>
  <select class="custom-select " #cat="ngModel" [(ngModel)]= "product.category" name= "category" required >
    <option *ngFor= "let c of categories$" [value]='c.$key' > {{c.name }} </option>
  </select>
  <div class="alert alert-danger" *ngIf= "cat.touched && cat.invalid">
      select a category
    </div>
</div>
<div class="form-group">
  <label for="formGroupExampleInput">Image Url</label>
  <input #image ="ngModel" [(ngModel)]= "product.imageUrl" name= "imageUrl" type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input" required url>
  <div class="alert alert-danger" *ngIf= "image.touched && image.invalid">
      <div *ngIf= "image.errors.required" > image required</div>
      <div *ngIf= "image.errors.url" > insert invalid url </div>
    </div>
</div>
<button class="btn btn-primary">Save</button>
</form>
</div>
<div class="col-md-6 col-12 mt-xs-2">
<div class="card" style="width: 20rem;">
  <img class="card-img-top" [src]="product.imageUrl">
  <div class="card-block">
    <h1 class="card-title">{{product.title}}</h1>
    <h4 class="card-text">{{product.price | currency: USD : true}}</h4>
  </div>
</div>
</div>
</div>