
<button routerLink="/add-product" class="btn btn-primary"> Add Product </button>
<br><br>
<input type="search" class="form-control" placeholder="search ..." #query (keyup)="search(query.value)">
<br><br>
<table class="table table-striped">
  <thead>
  <tr>
    <td>TITLE</td>
    <td>PRICE</td>
    <td>EDIT</td>
    <td>ID</td>
    <td>Delete</td>
  </tr>
</thead>
<tbody>
  <tr  *ngFor=" let i of items$">
    <td> {{ i.title  }}</td>
    <td> {{ i.price  }}</td>
    <td> <a [routerLink]= "['/add-product/',i.$key]"  class="btn btn-danger"> Edit </a> </td>
    <td> <a  (click) ="Delete(i.$key)" class="btn btn-danger"> Delete </a> </td>
    <td>{{i.$key}}</td>
  </tr>
</tbody>
</table>