<div class="container">
<div class="row ">
  <div class="col-3">
  <div class="list-group">
    <a routerLink="/"
    class="list-group-item list-group-item-action" *ngFor="let cat of categories"
    [queryParams]="{category:cat.$key}"
    >{{cat.name}}</a>
  </div>
</div>
<div class="col-9">
  <div class="row">
    <div class="col-6 mb-2 d-flex justify-content-center" *ngFor="let product of products">
      <div class="card d-flex align-items-center" style="width: 20rem;">
        <img class="card-img-top" [src]="product.imageUrl">
        <div class="card-block">
          <h1 class="card-title">{{product.title}}</h1>
          <h4 class="card-text">{{product.price | currency: USD : true}}</h4>
        </div>
        <div class="form-control btn bg-primary">
          <a (click)="addToCart(product)">Add to Card </a>
       </div>
      </div>
      
    </div>
  </div>
</div>
  
</div>